body {
    font-family: "Open Sans", Georgia, serif; 
}

.jumbotron {
    background-image: linear-gradient(to right, #4983C1, #289D9E); 
    padding: 40px; 
    margin: 0; 
}

h1, h2 {
    font-family: "Yusei Magic", Verdana, sans-serif; 
}

header h1 {
    font-size: 2.75rem; 
    color: #F8F3DD; 
}

header h2 {
    font-size: 1.75rem; 
    color: #F8D677; 
}

.navbar {
    background-color: #F8D677; 

}

#siteNavbar {
    text-align: center; 
}

.nav-link {
    color: #4983C1; 
}

.nav-link:hover {
    color: #E17444; 
}

/* 
    box-sizing: border-box;
    }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: rgba(217,218,223, 0.5);
    padding: 0;
    margin: 0; 
    font-family: Helvetica, sans-serif; 
    line-height: 1.5;
}

.content-wrap {
    width: 85%; 
    max-width: 900px; 
    margin: 0 auto; 
    padding: 30px 0; 
}

header, footer {
    text-align: center; 
    background-color: black;
    padding: 25px; 
}

h1 {
    color:rgba(217,218,223, 1);
    font-size: 80px; 
    margin-bottom: 100px; 
}

h1, h2, h3 {
    font-family: 'Trirong', serif; 
}

#about img {
    border-radius: 15%; 
    display: block; 
    margin: 35px auto; 
}
#cd {
    background-color: rgba(67,157,156,.15); 
}

#cd img, audio {
    display: block; 
    margin: 20px auto;
}

#cd figcaption {
    text-align: center; 
}

nav {
    margin: 0; 
}

nav, footer {
    text-align: center; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-around; 
}

h2 {
    font-size: 3em; 
}

iframe {
    display: block; 
    margin: auto; 
}

#media figcaption, #media p {
    text-align: center; 
    padding: 20px; 
    margin: auto; 
}

h3 {
    font-size: 30px; 
}
.artists {
    text-align: center;
}

.ul {
    text-align: center; 
}

#hobbies {
    background-color: rgba(16,80,128,.2);
}

#hobbies ul {
    display: inline-block; 
    text-align: left; 
}
.title {
    font-style: italic; 
}

a {
    color: #5B997C; 
}

#cd a {
    color: #F48E59;
}

#cd a:hover {
    color: #49A4A5;
}

a:hover {
    color: #C2910A;
} */